# Composer
/vendor/
composer.lock

# Configuración sensible
/config/database.php

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Entornos de desarrollo
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.sublime-*

# XAMPP / Windows
*.exe
*.msi
*.zip
*.rar
